
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;/* THIS REPRESENT 10PX 10/16*100=10*/
}
body{
    line-height: 1.8;
	position: relative;
	font-family: lato, sans-serif;
}

:root{
	/* Theme Colors */
	--text-gray: #3f4954;
	--darker-blue:#000066;
	--light-blue: #0033cc;
	--light-grey-1: #f7f7f7;

}


/* ------------- Global  Styling --------- */
ul{ list-style: none; }
a{ text-decoration: none; }
p{ font-family: calibri, sans-serif; }
label{
	font-size: 1.5rem;
	font-weight: bold;
}


h1, h2, h3{
	font-weight: 300;
	text-transform: uppercase;
	line-height: normal;
}

h1{
	margin-bottom: 20px;
	font-size:4rem;
	word-spacing: 4px;
	letter-spacing: 1px;
	font-weight: bolder;
	animation-name:fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
h2{
	font-size: 3rem;
    word-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1px;
}

h2:after {
	content: " ";
    display: block;
    height: 2px;
    background-color: var(--darker-blue);
    width: 10rem;
    margin: 0px auto;
    margin-bottom: 30px;
}


h3 {
	font-size: 2.2rem;
	color: #555;
    margin-bottom: 15px;
}


/* ---x---------- Global  Styling ----x----- */

/*--------------- Animation-----------*/
.animate{
	animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 4s;
	animation-fill-mode:backwards;
	animation-timing-function: ease-in-out;

}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}


/* ------------- Reusable Components --------- */

.row{
	max-width: 114rem;
	margin: 0 auto;
}
.row::after{
	content: "";
	display: table;
	clear: both;
}
.row [class^="col-"]{
	float: left;
}
.row [class^="col-"]:not(:last-child){
	margin-right: 2rem;
}
.row .col-1-of-2{
	width: calc((100% - 2rem) / 2);
}

.col-1-of-3{
	width: calc((100% - (2 * 2rem)) / 3);
}

.col-1-of-4{
	width: calc((100% - (3 * 2rem)) / 4);
}


.main-text{
	width: 70%;
    margin: auto;
    font-size: 2.5rem;
    text-align: center;
    line-height: 140%;
}
.paragraph{
	font-size: 1.8rem;
    line-height: 140%;
}
.icon-big{
	font-size: 7rem;
    display: block;
    color: var(--light-blue);
    margin-bottom: 1rem;
}
.card{
	padding: 2rem;
}

/* ------x------- Reusable Components ----x----- */


/* ------------- Utility Classes --------- */
.u-color-text-white{
	color: #fff;
}
.u-center-text{
	text-align: center;
}
.cancel-skew{
	transform: skew(40deg);
}
.u-margin-bottom-big{
	margin-bottom: 8rem;
}
/* ---x---------- Utility Classes ----x----- */




/* ---x---------- Buttons ----x----- */

.btn:link,
.btn:visited,
input[type=submit]{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.2s;
}
.btn-full,
input[type=submit]{
	background-color: var(--light-blue);
	border: 1px solid var(--light-blue);
	color: #fff;
	margin-right: 1.5rem;
}
.btn-full:hover,
input[type=submit]:hover{
	background-color: var(--darker-blue);
}

.btn-half{
	color: var(--light-blue);
	border: 1px solid var(--light-blue);
}
.btn-half:hover{
	color: #fff;
	background-color: var(--light-blue);
}
/* ---x---------- Buttons ----x----- */


/* ------------------------------------- Navigation --------- */
.nav{
	background-color: #fff;
	padding: 0 2rem;
	height: 0rem;
	min-height: 5rem;
	overflow: hidden;
	transition: height 1s ease-in-out;
}

.nav .nav-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.nav .company-group{
	padding-top: .5rem;
	display: flex;
	align-items: center;
}
.nav .company-group .logo{
	height: 4rem;
}
.nav .company-group .company-name{
	font-size: 1.2rem;
	font-weight: bold;
}

.nav .toggle-collapse{
	position: absolute;
	top: 0;
	cursor: pointer;
	width: 90%;
	display: none;
}

.nav .toggle-collapse .toggle-icons{
	padding: 1.4rem 0;
	display: flex;
	justify-content: flex-end;

}

.nav .toggle-collapse .toggle-icons i{
	font-size: 2.6rem;
	color: var(--text-gray);
}
.collapse{ height: 30rem; }

.nav .nav-list{ display: flex; }

.nav .nav-list .nav-link a{
	padding: 1.6rem 1rem;
	font-size: 1.7rem;
	color: var(--text-gray);
	transition: all .2s;
}
.nav .nav-list .nav-link a:hover,
.active{
	background-color: var(--light-blue);
	color: #fff;
}
.nav .social i{
	font-size: 1.6rem;
	color: var(--text-gray);
	transition: all .2s;
}
.nav .social i:hover{
	color: var(--light-blue);
}
/* Sticky Navi */
.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.98);
	box-shadow: 0 2px 2px #efefef;
	z-index: 9999;
}
/* ------x----------------------------- Navigation -----x---- */

/* -----------------------------------Section Site Title --------- */
.section-site-title{
	height: 90vh;
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8)), url(../img/bg-1.jpg);
	position: relative;
	background-position: center;
}
.site-title-text-box{
	position: absolute;
	width: 72%;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

.site-title-text-box p{
	font-size: 3rem;
	font-weight: 0;
	margin-bottom: 2rem;
}
/* ------x-----------------------------Section Site Title -----x---- */

/* -----------------------------------Section About Legendary Coders --------- */

.section-about{
	background-color:var(--light-grey-1);
	margin-top: 10rem;
	position: relative;
}
.section-about::after{
	content: "";
	display: block;
	height: .5rem;
	margin-top: 8rem;
	background-color: var(--light-blue);
}
.about-section-heading-box{
	background-color: var(--light-blue);
	width: 50%;
	margin-left: -2rem;
	position: relative;
	top: -1.5rem;
	transform: skew(-40deg);
}
.about-text-box p{
	font-size: 2rem;
	line-height: 140%;
	margin-bottom: 5rem;
}
.about-text-box, .composition{
	padding-top: 2rem;
	padding-left: 2rem;
}
.composition-photo{
	width: 100%;
}

/* -------------x----------------------Section About Legendary Coders -----x---- */

/* ------------------------Section Professional Courses --------- */
.section-courses{
	padding: 10rem 0;
}

/* ------x------------------Section Professional Courses ----x----- */


/* ------------------------Section our uniqueness --------- */
.section-uniqueness{
	padding: 10rem 0;
	background-color: #ddd;
}
.uniqueness-card{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 30%);
    height: 100%;
}

/* ------x------------------Section Our Uniqueness ----x----- */

/* -----------------------------------Section Our Leadership--------- */

.section-leadership{
	padding: 10rem 0;
	background-color: var(--light-blue);
}
.leader-info-box{
	background-color: #fff;
	width: 90%;
	padding: 2rem 4rem;
	margin: auto;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 30%);

}
.leader-info-box > .leader-figure-box{
	text-align: center;
	margin-top: -6rem;
}

.leader-img{
	height: 20rem;
	width: 20rem;
	border-radius: 100%;
}
.leader-name{
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--light-blue);
}
.leader-info-box p{
	font-size: 1.8rem;
}

/* -------x----------------------------Section Our Leadership----x----- */

/* -----------------------------------Section Our Team--------- */

.section-our-team{
	padding: 10rem 0;
}
.team-member-card{
	border: 1px solid var(--light-blue);
	border-radius: .2rem;
	text-align: center;
}
.team-member-card p{
	font-size: 1.6rem;
	font-family: lato, san-serif;
	line-height: 140%;
}
/* -------x----------------------------Section Our Team----x----- */


/* -----------------------------------Section Review--------- */

.section-review{
	padding: 10rem 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-2.jpeg);
	background-size: cover;
	background-attachment: fixed;
}
.student-review-card{
	position: relative;
	background-color: #fff;
	padding: 3rem;
	font-family: lato, san-serif;
}
.student-review-card::before{
	content: "\201C";
    position: absolute;
     top: -10.75rem;
    left: -1rem;
    font-size: 20rem;
    color: #777;
    font-family: sans-serif;
    z-index: 1;
}
.review-text{
	font-family: lato, sans-serif;
	font-size: 1.5rem;
	font-style: italic;
	margin-bottom: 2rem;
	position: relative;
	z-index: 10;
}
.review-student{
	display: flex;
	align-items: center;
}
.review-student-photo{
	height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}
.review-student-name{
	font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
	margin-right: auto;
}
.student-review-rating{
	color: var(--light-blue);
    font-size: 2.2rem;
    font-weight: 300;
}
/* --------x---------------------------Section Review---x------ */

/* -----------------------------------Section contact form--------- */

.section-contact-form{
	padding: 10rem 0;
	background-color: var(--light-grey-1);
}
.section-contact-form::after{
	content: "";
	display: block;
	height: .5rem;
	margin-top: 8rem;
	background-color: var(--light-blue);
}

.contact-form{
	width: 60%;
	margin: 0 auto;
	font-size: 1.5rem;
}
.form-group{
	width: 70%;
	margin: auto;
}
.form-group:not(:last-child){
	margin-bottom: 2rem;
}
input[type=text], input[type=email], textarea, select{
	display: block;
	width: 100%;
    padding: 1rem .7rem;
	border-radius: 3px;
	border: 2px solid var(--darker-blue);
	transition: all .2s;
}

input[type=checkbox] {
    margin: 1rem;
}
textarea{ height: 10rem;}
/* --------x---------------------------Section contact form---x------ */

.footer {
    padding: 6rem 0;
	background-color: #1f2025;
}

.footer-nav{
	display: flex;
	justify-content: space-between;
}
.footer-nav-list,
.footer-social-links{
	display: flex;
}
.footer-nav-list li,
.footer-social-links li {
	margin-right: 1.8rem;

}
.footer-social-links{ float: right;}

.footer-nav-list li a:link,
.footer-nav-list li a:visited,
.footer-social-links li a:link,
.footer-social-links li a:visited{
	color: #888;
	font-size: 1.6rem;
	transition: color .2s;
}

.footer-nav-list li a:hover,
.footer-nav-list li a:active,
.footer-social-links li a:hover,
.footer-social-links li a:active{
	color: #ddd;
}
.footer-copyright{
	width: 70%;
	margin: auto;
	color: #888;
	font-size: 1.4rem;
	text-align: center;
}



/* Viewport less than or equal to 900px */
@media screen and (max-width: 56.25em){
	.nav .nav-menu, .nav .nav-list{
		flex-direction: column;
	}

	.nav .toggle-collapse{
		display: initial;
	}
	.site-title-text-box{
		width: 100%;
	}
	.about-section-heading-box{
		width: 100%;
		margin-left: 0rem;
		transform: skew(0deg);
		
	}
	.cancel-skew{ transform: skew(0deg); }

	.row [class^="col-"]{
		width: 70%;
		margin: 2rem auto !important;
		float: none;
	}
}


/* Viewport less than or equal to 767px */
@media screen and (max-width:  47.9em){
	/* html{ font-size: 50%; }  THIS REPRESENT 8PX 8/16*100=8  */
	h1{
		margin-bottom: 1.5rem;
		font-size:2.5rem;
	}

	.site-title-text-box p{
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	
}

/* Viewport less than or equal to 600px */
@media screen and (max-width: 37.5em){

	.site-title-text-box p{
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.row [class^="col-"]{
		width: 80%;
		
	}
	.main-text{ 
		width: 90%;
		text-align: initial;
	}

	.contact-form{
		width: 90%;
	}

	.footer-nav-list{ flex-direction: column;}

}

